qrexec/**/__pycache__
pkgs/
.mypy_cache/
.coverage
*.o
.*.sw[op]
/agent/qrexec-fork-server
/agent/qrexec-client-vm
/agent/qrexec-agent
/daemon/qrexec-client
/daemon/qrexec-daemon
/agent/qrexec-client-vm.1.gz
/qrexec.egg-info
*.patch
*.diff
*.orig
*.rej
*.so.[0-9]
*.so
*.o.dep
*.gcno
*.gcda
*.gcov
*~
\#*#
