# License: GPLv2, same as Fedora's SELinux policy
policy_module(qubes-core-qrexec, 0.0.1)

require {
	type staff_t, init_t, initrc_t, sysadm_t, xauth_exec_t, local_login_t, tmpfs_t, qubes_var_run_t;
	type user_t;
	class passwd rootok;
}

### BEGIN UGLY HACK ###
# There is no good way to use a custom label for a login program such as qrexec.
# There are various bad ways, but they either don't always work or require
# editing system files.  local_login_t is the best option available for the
# qrexec agent, so use it.  Use aliases (defined here) so that this can easily
# be fixed later.
define(`qubes_qrexec_agent_t', `local_login_t')
### END UGLY HACK ###

# staff_t and sysadm_t can use qrexec.  Unprivileged user domains (such as user_t)
# cannot unless a boolean is set.  This is important if one e.g. has a qube that
# provides shell accounts to mutually distrusting users, although Qubes OS does not
# consider this to be a good idea the vast majority of the time.
ipp_qubes_qrexec(staff_t)
ipp_qubes_qrexec(sysadm_t)

# Allow user_t to use qrexec.  This is mostly equivalent to unconfined root access!
# In particular, qrexec does not care about the initiating user, only the qube.
gen_bool(qubes_user_t_can_use_qrexec, false)
if (qubes_user_t_can_use_qrexec) {
	ipp_qubes_qrexec(user_t)
}

# init scripts can use qrexec
ipp_qubes_qrexec(init_t)
ipp_qubes_qrexec(initrc_t)

type qubes_qrexec_agent_exec_t;
type qubes_qrexec_socket_t;
init_daemon_domain(qubes_qrexec_agent_t, qubes_qrexec_agent_exec_t)
init_ranged_daemon_domain(qubes_qrexec_agent_t, qubes_qrexec_agent_exec_t, s0 - mcs_systemhigh)
allow qubes_qrexec_agent_t tmpfs_t:dir create;
allow { qubes_qrexec_agent_t init_t } self:passwd rootok;
init_start(qubes_qrexec_agent_t)
allow qubes_qrexec_agent_t systemd_unit_file_t:service manage_service_perms;
init_start_transient_unit(qubes_qrexec_agent_t)
systemd_start_systemd_services(qubes_qrexec_agent_t)
allow qubes_qrexec_agent_t self:netlink_selinux_socket { bind create };
files_pid_file(qubes_qrexec_socket_t)
su_exec(qubes_qrexec_agent_t)
dev_rw_xen(qubes_qrexec_agent_t)
systemd_exec_systemctl(qubes_qrexec_agent_t)
allow qubes_qrexec_agent_t xauth_exec_t:file execute;
type_transition qubes_qrexec_agent_t qubes_var_run_t:sock_file qubes_qrexec_socket_t "qrexec-agent";
manage_sock_files_pattern(qubes_qrexec_agent_t, qubes_var_run_t, qubes_qrexec_socket_t)
write_sock_files_pattern(qubes_qrexec_agent_t, qubes_var_run_t, qubes_var_run_t)
allow domain qubes_qrexec_agent_t:unix_stream_socket { rw_inherited_sock_file_perms ioctl };
allow qubes_qrexec_agent_t domain:unix_stream_socket connectto;
allow qubes_qrexec_agent_t file_type:sock_file { rw_sock_file_perms ioctl };

# All of this is taken from userdomain.if, so that
# qrexec can connect to any TCP socket.
corenet_tcp_sendrecv_generic_if(qubes_qrexec_agent_t)
corenet_tcp_sendrecv_generic_node(qubes_qrexec_agent_t)
corenet_tcp_sendrecv_all_ports(qubes_qrexec_agent_t)
corenet_tcp_connect_all_ports(qubes_qrexec_agent_t)
corenet_sendrecv_all_client_packets(qubes_qrexec_agent_t)

optional_policy(`
        init_tcp_recvfrom_all_daemons(qubes_qrexec_agent_t)
')

optional_policy(`
        ipsec_match_default_spd(qubes_qrexec_agent_t)
')
