## <summary>
##	Use qrexec to communicate with other qubes.  This can have potentially
##	unbounded side-effects, depending on the qrexec policy and what services
##	other qubes are running.  Furthermore, depending on how qrexec is
##	implemented, this may grant extensive additional permissions, up to and
##	including the ability to escalate to root.  This permission must never be
##	granted to untrusted domains.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed access
## </summary>
## </param>
interface(`ipp_qubes_qrexec',`
	gen_require(`
		type qubes_qrexec_socket_t;
		type qubes_var_run_t;
		type local_login_t; # See UGLY HACK in qubes-core-qrexec.te
	')
	stream_connect_pattern($1, qubes_var_run_t, qubes_qrexec_socket_t, local_login_t)
	dev_rw_xen($1)
	allow $1 qubes_qrexec_socket_t:sock_file rw_sock_file_perms;
')
